@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer 


@model TeacherHelper.ViewModels.Identity.RegisterModel

@{
    ViewData["Title"] = "Register";
}
<h1>@localizer["Registration"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger text-decoration-none"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">@localizer["Name"]</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLastname" class="control-label">@localizer["Lastname"]</label>
                <input asp-for="UserLastname" class="form-control" />
                <span asp-validation-for="UserLastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">@localizer["Password"]</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" class="control-label">@localizer["PasswordConfirm"]</label>
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["Register"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">@localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
